 
body {
    background-color:  #582b5e;
 }
 /* ...... مروبط به هدر...... */
 header {
     height: 54px;
     width: 1333px;
     margin-top: 20px;
     margin-left: 9px;
     border-radius: 12px;
     background-color: #1f264047;
 }
 /* ..... مروبط به منو..... */
 nav {
     height: 100%;
     width: 437px;
     float: right;
 }
 ul {
     height: 100%;
     list-style-type: none;
     display: inline-block;
     margin: 0px;
     padding-top: 17px;
 }
 li {
 
     display: inline-block;
     padding: 0px 15px;
 }
 .bar-menu {
     height: 100%;
     width: 25px;
 }
 li a {
     margin: 0px;
     text-decoration: none;    
 }
 a h4 {
     margin: -19px;
     display: inline;
     vertical-align: middle;
     font-family: Inter, sans-serif;
     font-size: medium;
     color: #F5F5F5;
 }
 li button {
     height: 19px;
     width: 129px;
     font-family: Inter, sans-serif;
     font-size: x-small;
     color: #ffff;
     background-color: rgba(0, 0, 0, 0.096);
     border-radius: 30px;
     border: 1px solid rgba(0, 0, 0, 0.26);
 }
 /* ..... مروبط به منو..... */
  /* ...... مروبط به هدر...... */

  /* ............... مروبط به هوم پیچ ........ */
 .main-home {
     background-image: url(/assets/img/galaxy-space-pixel-art-digital-art-4k-wallpaper-uhdpaper.com-762@0@i.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     height: 524px;
     width:100% ;
     text-align: center;
     border-radius: 102px;
 }
 /* ........... مربوط به لوگو ...... */
  .logo-main {
     height: 452px;
     float: right;
     opacity: 10%;
     transition: 700ms;
     
 }
 .logo-main:hover {
     height: 452px;
     opacity: 100%;
 }
 /* ........... مربوط به لوگو ...... */
 /* ......... مربوط به تایتل ..... */
 strong {
     display: block;
     margin-top: 17px;
     font-size: xx-large;
     font-family: Ultra, serif;
     font-weight: 400;
     font-style: normal;
     background-image: linear-gradient( rgb(217, 191, 51), rgb(169, 65, 255));
     color: transparent;
     background-clip: text; 
     padding-top: 30px;
 }
/* ..... اضافه کردن فونت یکان... */
 @font-face {
     font-family: yekan;
     src: url(assetsfontsYekan.eot);
     src: url(assetsfontsYekan.svg) format(svg), 
     url(assetsfontsYekan.ttf) format(ttf) ,
     url(assetsfontsYekan.woff) format(woff);
 }
 /* ..... اضافه کردن فونت یکان... */
 /* ...............فونت تایتل ............. */
 #font-title {
     font-family: Blaka, system-ui;
     font-weight: 400;
     font-style :normal;
     font-size :83px;
     background-image: linear-gradient( rgb(243, 147, 50), rgb(188, 248, 226));
     color: transparent;
     background-clip: text; 
     line-height: 400px;
     margin-left: 150px;
 }
 /* ...............فونت تایتل ............. */
  /* ......... مربوط به تایتل ..... */
 /* ............... مروبط به هوم پیچ ........ */
  /* .............. مروبوط به فوتر ............... */
 .footer {
     text-align: center;
 }
 .font-hfooter {
     font-family: Inter, sans-serif;
     font-size: 22px;
     color: #F5F5F5;
 }
 .font-pfooter {
     font-family: Inter, sans-serif;
     font-size: 18px;
     color: #ffffff69;
     margin-top: -30px;
 }
  /* .............. مروبوط به فوتر ............... */
  /* ............ مربوط به پیج رزومه .........  */
 .main-resume {
    text-align: center;
    padding-bottom: 15px;
 }
 .resume-font {
     font-family: Inter, sans-serif;
     font-size: 22px;
     color: #F5F5F5;
 }
 /* .........flexbox-resume......... */
  /* ......  مربوط به باکس ها...... */
 #resume-box {
    display: flex;
    height: 1122px;
    width: 1299px;
    flex-wrap: wrap;
    margin-left: 34px;
    justify-content: space-evenly;
  }
 
 .resume-box {
    flex-basis: 112px;
    height: 332px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 20px;
    background-color: #83828A33;
    border-radius: 11px;
  }
 /* ......  مربوط به باکس ها...... */
 /* .........مربوط به عکس...... */
 .resume-img {
    width: 346px;
 }
 /* .........مربوط به عکس...... */
 /* ......  مربوط به فونت های باکس و لوگو...... */
 /* ......  مربوط به لوگو...... */
 .resume-item {
    text-align: left;
    margin: 0px;
    margin-top: -5px;
 }
 .resume-logo {
    display: inline-block;
    width: 33px;
    border-radius: 50%;
    margin-top: 19px;
    margin-right: 6px;
 }
  /* ......  مربوط به لوگو...... */
 /* ...... مربوط به فونت های باکس...... */
 .resume-logofont {
    display: inline-block;
    margin-top: -25px;
 }
 .resume-logofont h4 {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 2px;
    margin-bottom: -10px;
    color:#F5F5F5;
 }
 .resume-logofont h6 {
    color: #707586;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-bottom: 0px;
  margin-top: 21px;margin-top: 21px;
 }
 /* ......  مربوط به فونت های باکس و لوگو...... */