 /* ..... اضافه کردن فونت یکان... */
 @font-face {
     font-family: yekan;
     src: url(/assets/fonts/Yekan.eot);
     src: url(/assets/fonts/Yekan.svg) format(svg), 
     url(/assets/fonts/Yekan.ttf) format(ttf) ,
     url(/assets/fonts/Yekan.woff) format(woff);
 }
 /* ..... اضافه کردن فونت یکان... */
body {
    background-color:  #582b5e;
 }
 /* ...... مروبط به هدر...... */
 header {
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
    margin-right: 8px;
     height: 54px;
     width: 100%;
     margin-top: 20px;
     margin-left: 9px;
     border-radius: 12px;
     background-color: #1f264047;
 }
 /* ..... مروبط به منو..... */
 nav {
    display: inline-block;
    height: 100%;
 }
 ul {
    height: 100%;
    width: 420px;
    margin: 0px;
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    text-align: center;
 }
 .menu-font {
    text-decoration: none;
    color: #fbf62f;
    font-family: yekan;
 }
 .menu-font h4 {
   margin-top: 10px;
   margin-bottom: 0px;
}

 .menu-font:hover {
   font-size: larger;
 }
 li button {
    margin-top: 19px
 }
 /* ..... مروبط به منو..... */
 /* .......... مربوط به لوگو های هدر ......... */
 #header-logo {
    display: inline-block;
    height: 100%;
    margin-left: 45px;
 }
 .header-logo {
    vertical-align:middle;
 }
 .header-socialmedia {
    margin-left: -17px;
 }
 /* .......... مربوط به لوگو های هدر ......... */
  /* ...... مروبط به هدر...... */

  /* ............... مروبط به هوم پیچ ........ */
 .main-home {
     background-image: url(/assets/img/galaxy-space-pixel-art-digital-art-4k-wallpaper-uhdpaper.com-762@0@i.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     height: 524px;
     width:100% ;
     text-align: center;
     border-radius: 102px;
 }
 /* ........... مربوط به لوگو ...... */
  .logo-main {
     height: 452px;
     float: right;
     opacity: 10%;
     transition: 700ms;
     
 }
 .logo-main:hover {
     height: 452px;
     opacity: 100%;
 }
 /* ........... مربوط به لوگو ...... */
 /* ......... مربوط به تایتل ..... */
 strong {
     display: block;
     margin-top: 17px;
     font-size: xx-large;
     font-family: Ultra, serif;
     font-weight: 400;
     font-style: normal;
     background-image: linear-gradient( rgb(217, 191, 51), rgb(169, 65, 255));
     color: transparent;
     background-clip: text; 
     padding-top: 30px;
 }

 /* ...............فونت تایتل ............. */
 #font-title {
     font-family: Blaka, system-ui;
     font-weight: 400;
     font-style :normal;
     font-size :83px;
     background-image: linear-gradient( rgb(243, 147, 50), rgb(188, 248, 226));
     color: transparent;
     background-clip: text; 
     line-height: 400px;
     margin-left: 150px;
 }
 /* ...............فونت تایتل ............. */
  /* ......... مربوط به تایتل ..... */
 /* ............... مروبط به هوم پیچ ........ */
  /* .............. مروبوط به فوتر ............... */
 .footer {
     text-align: center;
     height: 300px;
 }
 .font-hfooter {
     font-family: Inter, sans-serif;
     font-size: 22px;
     color: #F5F5F5;
 }
 .font-pfooter {
     font-family: Inter, sans-serif;
     font-size: 18px;
     color: #ffffff69;
     margin-top: -30px;
 }
 #footer-box {
   width:960 ; 
   height: 960;
   margin-top: 50px;
 }
 .footer.box {
  display: block;
 }
 .footer-smallbox {
   margin-left: 415px;
 }
  /* .............. مروبوط به فوتر ............... */
  /* ............ مربوط به پیج رزومه .........  */
  #main-resume {
   text-align: center;
  }
 .main-resume {
    text-align: center;
    padding-bottom: 15px;
 }
 .resume-font {
     font-family: Inter, sans-serif;
     font-size: 22px;
     color: #F5F5F5;
 }
 /* .........flexbox-resume......... */
  /* ......  مربوط به باکس ها...... */
 #resume-box {
   display: inline-flex;
    height: 1122px;
    width: 80%;
    flex-wrap: wrap;
    margin-left: 34px;
    justify-content: space-evenly;
  }
 
 .resume-box {
    flex-basis: 112px;
    height: 332px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 20px;
    background-color: #83828A33;
    border-radius: 11px;
  }
 /* ......  مربوط به باکس ها...... */
 /* .........مربوط به عکس...... */
 .resume-img {
    width: 346px;
 }
 /* .........مربوط به عکس...... */
 /* ......  مربوط به فونت های باکس و لوگو...... */
 /* ......  مربوط به لوگو...... */
 .resume-item {
    text-align: left;
    margin: 0px;
    margin-top: -5px;
 }
 .resume-logo {
    display: inline-block;
    width: 33px;
    border-radius: 50%;
    margin-top: 19px;
    margin-right: 6px;
 }
  /* ......  مربوط به لوگو...... */
 /* ...... مربوط به فونت های باکس...... */
 .resume-logofont {
    display: inline-block;
    margin-top: -25px;
 }
 .resume-logofont h4 {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 2px;
    margin-bottom: -10px;
    color:#F5F5F5;
 }
 .resume-logofont h6 {
    color: #707586;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-bottom: 0px;
  margin-top: 21px;margin-top: 21px;
 }
 /* ......  مربوط به فونت های باکس و لوگو...... */
 /* ............ مربوط به پیج رزومه .........  */
 
/* ............ مربوط به پیج رزومه .........  */
 /* ............ مربوط به پیج خدمات .........  */
 
 /* ............ مربوط به پیج خدمات .........  */